/* Note there a few "reset" styles given in reset.css. Review those before you begin */
:root {
    --main-clr: #820000;
    --main-clr-lt: #b30000;
    --main-clr-dk: #510000;

    --secondary-clr: #909090;
    --secondary-clr-lt: #B4B4B4;
    --secondary-clr-dk: #636363;
    --secondary-clr-ltr: #cccccc;

    --ntrl-clr-lt: #ffffff;
    --ntrl-clr-dk: #000000;

    --main-fs: 16px;
    --h1-fs: 28px;
    --h2-fs: 22px;
    --h3-fs: 18px;

    --pad-and-gap: 1em;
}

body {
    background-color: var(--ntrl-clr-lt);
    color: var(--ntrl-clr-dk);
    font-size: var(--main-fs);
    line-height: 1.5em;
}

h1{
    font-size: var(--h1-fs);
}

h2 {
    font-size: var(--h2-fs);
}

h3 {
    font-size: var(--h3-fs);
}

.products, .page-header, .page-footer {
    padding-left: var(--pad-and-gap);
    padding-right: var(--pad-and-gap);
}

.your-products {
    display: flex;
}

.pagination {
    text-align: center;
}

.pages {
    display: flex;
    justify-content: center;
}

.pages > li, .social > li, .legal > li {
    margin: calc(var(--pad-and-gap) / 2);
}

.social, .legal {
    display: flex;
    justify-content: flex-end;
}

.copyright {
    text-align: right;
}

.page-header {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
}

.logo {
    grid-row: 1;
    grid-column: 1;
    text-decoration: none;
    color: var(--ntrl-clr-lt);
    font-family: fantasy;
    font-weight: bolder;
    padding: 5px 5px 0px 5px;
    margin-top: 0.2em;
}

.nav-toggle {
    grid-row: 1;
    grid-column: 4;
    border: none;
    background: none;
    font-size: var(--h2-fs);
    padding-top: 0.2em;
}

.search {
    grid-row: 2;
    grid-column: 1 / 5;
    margin-top: 0.5em;
}

.navigation {
    grid-row: 3;
    grid-column: 1 / 5;
}

.your-products {
    grid-row: 1;
    grid-column: 3;
}

.filter-list {
    display: flex;
}

.your-products .fa-heart {
    font-size: var(--h2-fs);
    color: var(--secondary-clr-lt);
}

.your-products .fa-shopping-bag {
    font-size: var(--h2-fs);
    color: var(--secondary-clr-lt);
}

.your-products > li {
    padding-left: calc(var(--pad-and-gap) / 4);
    padding-right: calc(var(--pad-and-gap) / 4);
    padding-top: 0.2em;
}

.fa-bars, .fa-times {
    padding-left: calc(var(--pad-and-gap) / 4);
    color: var(--ntrl-clr-lt);
}

.menu a {
    text-decoration: none;
}

#check, .submenu, .fa-times{
    display: none;
}

.navigation ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--secondary-clr-lt);
    top: 35px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}

#check:checked ~ .navigation ul {
    left: 0;
}

#check:checked ~ .nav-toggle .fa-bars {
    display: none;
}

#check:checked ~ .nav-toggle .fa-times {
    display: block;
}

nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
}

nav ul li a {
    font-size: var(--h2-fs);
    color: var(--ntrl-clr-lt);
}

nav ul li a:hover , nav ul li a.active {
    background: none;
    color: var(--main-clr);
}

.page-header {
    background-color: var(--main-clr);
    padding-bottom: 0.5em;
}

#find {
    width: 90%;
}

.container {
    display: block;
    position: relative;
    padding-left: 22px;
    padding-right: 7px;
    cursor: pointer;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 2;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: var(--secondary-clr-ltr);
  }

  .container:hover input ~ .checkmark {
    background-color: var(--secondary-clr);
  }
  
  .container input:checked ~ .checkmark {
    background-color: var(--main-clr);
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    box-sizing: initial;
    transform: rotate(45deg);
  }

  
