/* Note there a few "reset" styles given in reset.css. Review those before you begin */
:root {
    --main-clr: #820000;
    --main-clr-lt: #b30000;
    --main-clr-dk: #510000;

    --secondary-clr: #909090;
    --secondary-clr-lt: #B4B4B4;
    --secondary-clr-dk: #636363;

    --ntrl-clr-lt: #ffffff;
    --ntrl-clr-dk: #000000;

    --main-fs: 16px;
    --h1-fs: 28px;
    --h2-fs: 22px;
    --h3-fs: 18px;

    --pad-and-gap: 1em;
  }

  body {
      background-color: var(--ntrl-clr-lt);
      color: var(--ntrl-clr-dk);
      font-size: var(--main-fs);
      line-height: 1.5em;
  }

  .products, .page-header, .page-footer {
      padding-left: var(--pad-and-gap);
      padding-right: var(--pad-and-gap);
  }

  .your-products {
      display: flex;
  }

  .pagination {
      text-align: center;
  }

  .pages {
      display: flex;
      justify-content: center;
  }

  .pages > li, .social > li, .legal > li {
      margin: calc(var(--pad-and-gap) / 2);
  }

  .social, .legal {
      display: flex;
      justify-content: flex-end;
  }

  .copyright {
      text-align: right;
  }

